.todoListContainer{
    width: 300px
}

.todoFormContainer{
    width: 50%;
}

.singleTodo{
    margin: 10px 0px 10px -10px;
    padding: 10px;
    height: 25px;

    font-size: 24px;
    display: flex;
    align-items: center;
    background-color: palevioletred;
    color: black;

    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.complete{

    background-color: lightskyblue;
    color: white;
}